name: CI

on:
    push:
        branches: ['**']
    pull_request:
        branches: ['main']

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                go-version-file: 'go.mod'

            - name: Set up golangci-lint
              uses: golangci/golangci-lint-action@v9
              with:
                version: v2.6

            - name: Cache Go modules
              uses: actions/cache@v4
              with:
                path: |
                    ~/go/pkg/mod
                    ~/.cache/go-build
                key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum')}}

            - name: Run CI
              run: make build
